<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    beStrictAboutTestSize="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    bootstrap="vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnRisky="false"
    stopOnSkipped="false"
    syntaxCheck="false"
    verbose="true"
>
    <testsuites>
        <testsuite name="All">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <php>
        <!-- Disque -->
        <env name="DISQUE_SERVER_VERSION" value="1.0" />
        <env name="DISQUE_SERVER_HOST" value="127.0.0.1" />
        <!-- <env name="DISQUE_SERVER_PORT" value="7711" /> Prevent accidents, uses 12345 in absence of env var -->
    </php>
</phpunit>
